.row {
  color: white;
  margin-left: 20px;
}

.row__title {
  /* margin-top: 0.5rem; */
  margin: 0.5rem 0;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

/* to hide scrollbar */
.row_posters::-webkit-scrollbar {
  display: none;
}

/* .row_poster {
  position: relative !important;
  max-height: 150px;
  object-fit: contain;
  margin-right: 18px;
  border-radius: 4px;
  width: 100%;
  transition: all 450ms;
  box-shadow: inset 0px 5px 10px gray;
  transition: all 0.5s ease;
  object-fit: cover;
  overflow: hidden;
 
}  */

.card{
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column; 
  border-radius: 8px !important;
  gap: 10px;
  font-size: 12px;
  width: 17%;

  color: whitesmoke;
  margin-right: 20px;
  /* overflow: hidden; */
 
  transition: all 0.5s ease;
  aspect-ratio: 9/6 auto;
}

.card img{
  box-shadow: inset 0px 5px 10px gray;
  border-radius: 8px !important;
  transition: all 0.4s;
  /* overflow: hidden; */
  object-fit: cover;
  filter: brightness(70%);
}

.hide {
  position: absolute;
  top: 10px;
}


.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
  border: 0.5px solid whitesmoke;
  color: white;
  filter:brightness(100%);
  /* box-shadow: 0px 3px 5px darkgrey; */
}




.row_posterLarge {
  max-height: 270px;
  transition: all 0.5s;
}

.row_posterLarge:hover {
  transform: scale(1.08);
  opacity: 1;
  /* box-shadow: 0px 3px 5px darkgrey; */
}

